asgiref==3.7.2
crispy-bootstrap4==2023.1
Django==4.2.7
django-crispy-forms==2.1
packaging==23.2
plotly==5.18.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
sqlparse==0.4.4
tenacity==8.2.3
typing_extensions==4.8.0
