{% extends "base.html" %} 

{% comment %} {% load crispy_forms_tags %}  {% endcomment %}

{% block active_menu %}
    <li class="nav-item"><a href="{% url 'showgraph:history' %}" class="nav-link" aria-current="page">История</a></li>
    <li class="nav-item"><a href="{% url 'showgraph:load' %}" class="nav-link active">Загрузка файла</a></li>
{% endblock %}

{% block main_content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %} {{ form }}
    <input class="btn btn-primary" style="width: 200px;" type="submit" value="Отправить">
</form>
{% endblock %}